@media screen and (max-width: 767px) {
  .menu-contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mail__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    padding: 5px 0;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      color: #2196f3;
    }
    // @media screen and (min-width: 768px) {
    //   color: red;
    // }
    // @media screen and (min-width: 768px) and (max-width: 1200px) {
    //   color: yellow;
    // }
    // @media screen and (min-width: 1368px) {
    //   column-rule-color: green;
    // }
  }

  .tel__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    padding: 5px 0;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .mail__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    // padding: 5px 0;
    display: flex;
    align-items: center;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  .tel__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #757575;
    // padding: 5px 0;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  .current {
    &::after {
      content: '';
      background-color: var(--accent-color);
      position: absolute;
      width: 100%;
      border-radius: 2px;
      height: 4px;
      top: 46px;
      left: 0;
    }
  }

  .link.current {
    color: var(--accent-color);
  }

  .menu-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .menu-contact__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.mobile-nav {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .container {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
  }
}

.burger-btn-close {
  position: absolute;
  right: 25px;
  top: 21px;
  height: 40px;
  width: 40px;
}
.burger-btn-close__item {
  height: 18px;
  width: 18px;
}
.burger-btn-close:hover,
.burger-btn-close:focus {
  fill: #2196f3;
}

.mobile-menu__link {
  color: #212121;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.mobile-menu__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  padding-left: 10px;
  margin-bottom: 32px;
}

.mobile-media {
  display: flex;
}
.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}
