.hero-main {
  text-align: center;
  padding: 200px 0px;
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img/hero-bg/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  margin: 0 auto;
  text-align: center;
  background-size: 480px 400px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img/hero-bg/hero-bg-mobile@2x.jpg);
  }
}

.about-main-list {
  display: flex;
}
.label__box {
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.label-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-container {
  padding-bottom: 94px;
}
