.logo-spn {
  color: #2196f3;
}

.logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  color: #212121;

  margin-bottom: 16px;
  margin-top: 16px;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}
.logo-spn-one {
  color: #ffffff;
  &:hover,
  &:focus {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .logo-link {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-link {
    margin-right: 93px;
  }
}
