.people-card {
  cursor: pointer;
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.people-box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.portfolio-list-img {
  margin-left: -30px;
  margin-top: -30px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper-link:hover .overlay,
.wrapper-link:focus .overlay {
  transform: translateY(0%);
}
